@import '../../../../styles/index.scss';

.container {
    min-height: 50px;
    background-color: $light-blue;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    border: 2px solid $light-blue;
}

.checkbox {
    margin: 10px;
    position: relative;
    width: 20px;
    height: 20px;
    color: $light-blue;
    background-color: $grey;
    border: 1.5px solid $dark-blue;
    border-radius: 5px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    
    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 1px;
        left: 6px;
        width: 4px;
        height: 10px;
        border-style: solid;
        border-color: $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    &:checked {
        color: $white;
        border-color: $dark-blue;
        background: $dark-blue;

        &::before {
        opacity: 1;
        }
        
        ~ label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}

.task-text {  
    margin-right: 40px;
    width: 70%;
    word-wrap: break-word;
}

.checkbox:checked+label {
    text-decoration: line-through;
}

.delete {
    position: absolute;
    right: 10px;
    height: 25px;
    width: 25px;
    padding: 6px;
    top: 50%;
    transform: translateY(-50%);  

    svg {
        height: auto;
    }
}